
.carItm{
  text-align:center;
  width:50%;
  img{
    max-width:100%;
    max-height:240px;
  }
  p{
    text-align:left;
    margin:5.4%;
  }
  
}
.logo{
  h1{
    text-align:center;
  }
}
.tutWrap{
  width:297mm;
  height:210mm;
  display:flex;
  flex-wrap: wrap;
}

